body
{
    background-color: white;
    font-family: sans-serif;
}

h1
{

}

h2
{
    background-color: LightGray;
    padding: 0.25em;s
}

#dateTime
{
    background-color: inherit;
    color: red;
    text-decoration: none;
    font-size: 0.8em;
}

p
{
    text-indent: 1em;
}